PORT=3000
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=xuatnhapkhau
DB_NAME_TEST=xuatnhapkhau_test
DB_USER=root
DB_PASS=root123
DB_DIALECT=mysql
JWT_SECRET=replace_with_a_real_secret
JWT_SECRET_REFRESH_TOKEN=replace_with_a_real_refresh_secret
JWT_CUSTOMER_EXPIRES_IN=24h
JWT_ADMIN_EXPIRES_IN=240h
